:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    --font-size-body-copy: 18px;
}

* {
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
}

body {
    margin: auto;
}

header {
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: 50% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 363px;
}

h1 {    
    color: var(--dark-grayish-blue);
    margin-bottom: 16px;
}

.body-copy {
    color: var(--grayish-blue);
    line-height: 1.5;
}

.download-buttons {
    display: grid;
    margin: auto;
    margin-top: 40px;
}

button {
    border: none;
    color: #FFFFFF;
    font-size: initial;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 32px;
    border-bottom-style: outset;
}

button:hover {
    cursor: pointer;
}

.iOS-button {
    background-color: var(--strong-cyan);
    border-bottom-color: var(--strong-cyan);
    box-shadow: 0px 2px 16px var(--strong-cyan);
}

.Mac-button {
    background-color: var(--light-blue);
    border-bottom-color: var(--light-blue);
    box-shadow: 0px 2px 16px var(--light-blue);
}

.snippets {
    margin: auto;
    margin-bottom: 80px;
}

h2 {
    color: var(--dark-grayish-blue);
    margin-bottom: 16px;
}

h3 {
    color: var(--dark-grayish-blue);
    margin-bottom: 16px;
}

.devices {
    margin: auto;
    margin-bottom: 160px;
}

.image-devices {
    width: 100%;
    margin-top: 64px;
}

.workflow {
    margin: auto;
    margin-bottom: 160px;
}

.icon {
    margin-top: 80px;
    margin-bottom: 40px;
}

.companies {
    margin: auto;
    margin-bottom: 160px;
}

.company {
    display: grid;
    justify-content: center;
}

.outro {
    margin-bottom: 160px;
}

.footer-links {
    background-color: #F5F6F8;
    display: grid;
    margin-bottom: 16px;
}

.logo-footer > img {
    width: 48px;
    height: 48px;
}

.footer-menu a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
}

.footer-menu a:visited {
    text-decoration: none;
}

.social-media-icons {
    display: grid;
    align-items: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--grayish-blue);
}

.attribution a {
    color: var(--dark-grayish-blue);
    text-decoration: none;
}

.attribution a:visited {
    text-decoration: none;
}

@media screen and (max-width: 1439px) {
    body {
        max-width: 360px;
    }

    header {
        background-image: url('./images/bg-header-mobile.png');
    }

    h1 {      
        margin: auto;
        font-size: xx-large;
        text-align: center;
        max-width: 320px;
    }

    .body-copy {
        text-align: center;
        max-width: 310px;
        margin: auto;
    }

    .download-buttons {
        align-content: space-between;
        max-width: 310px;
        height: 128px;
    }

    button:hover {
        cursor: pointer;
    }

    .snippets {
        margin-top: 160px;
        max-width: 320px;
    }

    h2 {
        text-align: center;
        font-size: xx-large;
    }

    .features {
        max-width: 320px;
        margin: auto;
        text-align: center;
        margin-bottom: 160px;
    }

    .image-computer {
        width: 100%;
    }

    .features-preview {
        margin-top: 48px;
    }

    .feature {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    h3 {
        text-align: center;
    }

    .devices {
        max-width: 320px;
    }

    .workflow {
        max-width: 320px;
    }

    .tool {
        display: grid;
    }

    .icon {
        justify-self: center;
    }

    .companies {
        max-width: 320px;
    }

    .company-logo {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    footer {
        max-width: 360px;
    }

    .footer-links {
        justify-content: center;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .logo-footer > img {
        margin-bottom: 24px;
    }

    .footer-menu p {
        margin-bottom: 24px;
    }

    .social-media-icons {
        grid-template-columns: auto auto auto;
        grid-column-gap: 40px;
    }
}

@media screen and (min-width: 1440px) {
    body {
        width: 1440px;
    }

    header {
        background-image: url('./images/bg-header-desktop.png');
    }

    .intro {
        width: 640px;
        margin: auto;
        margin-bottom: 160px;
        text-align: center;
    }

    h1 {
        font-size: 40px;
    }

    .body-copy {        
        font-size: var(--font-size-body-copy);
    }

    .download-buttons {   
        grid-template-columns: auto auto;
        grid-column-gap: 32px;
        width: 440px;
    }    

    .snippets {
        width: 720px;
        
        text-align: center;
    }

    h2 {
        font-size: 32px;        
    }

    .features {
        width: 100%;
        margin-bottom: 160px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .image-computer {
        height: 572px;
        object-position: 100% 50%;
        width: 720px;
        object-fit: cover;
    }

    .features-preview {
        display: grid;
        grid-template-rows: auto auto auto;
        align-content: space-around;
    }

    .feature {
        width: 392px;
        height: 104px;
        text-align: left;
    }

    h3 {
        color: var(--dark-grayish-blue);
        font-size: 24px;
        margin-bottom: 16px;
    }

    .devices {
        width: 720px;
        text-align: center;
    }

    .image-devices {
        object-fit: cover;
    }

    .workflow {
        width: 1200px;
        text-align: center;
    }

    .tools {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-around;
    }

    .tool {
        width: 400px;
    }

    .companies {
        width: 1200px;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }

    .outro {
        width: 720px;
        margin: auto;
        text-align: center;
    }

    .footer-links {
        height: 160px;
        align-items: center;
        grid-template-columns: 20% 50% 30%;
    }

    .logo-footer {
        display: flex;
    }

    .logo-footer > img {
        margin: auto;
    }

    .footer-menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 120px;
    }

    .footer-menu p {
        height: 24px;
        margin-top: 24px;
    }

    .footer-menu a:hover {
        color: var(--strong-cyan);
    }
    
    .social-media-icons {
        grid-template-columns: 24px 24px 24px;
        column-gap: 32px;
        justify-content: right;
        margin-right: 160px;
    }

    .social-media-icons path:hover {
        cursor: pointer;
        fill: var(--strong-cyan);
    }
}